.feedbackWrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.feedbackButton {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(230, 236, 34);
  border-color: transparent;
  transition: scale 500ms;
  box-shadow: 2px -2px 3px 0 rgb(0, 87, 187), -2px -2px 3px 0 rgb(0, 87, 187),
    2px 2px 3px 0 rgb(0, 87, 187), -2px 2px 3px 0 rgb(0, 87, 187);
}

.feedbackButton:hover {
  border: 2px solid rgb(0, 87, 187);
  color: white;
  background-color: rgb(0, 87, 187);
  scale: 1.05;
}

/* .button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */
